@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using AutoLogin.Models.ViewModels
@model LoginViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Login.css">

</head>
<body>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form method="post">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="EmailAdd" class="form-control form-control-lg"
                                   placeholder="Enter a valid email address" asp-for="Email" />
                            <label class="form-label" for="EmailAdd">Email address</label>
                            <span class="text-danger d-block" asp-validation-for="Email"></span>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <input type="password" id="Password" class="form-control form-control-lg" asp-for="Password"
                                   placeholder="Enter password" />
                            <label class="form-label" for="Password">Password</label>
                            <span class="text-danger d-block" asp-validation-for="Password"></span>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            @* <div class="form-check mb-0">
                            <input asp-for="RememberMe" class="form-check-input me-2" type="checkbox" value="" id="RememberMe" />
                            <label class="form-check-label" for="RememberMe">
                            Remember me
                            </label>
                            <span class="text-danger" asp-validation-for="RememberMe"></span>
                            </div> *@
                            <div class="form-check">
                                <input asp-for="RememberMe" class="form-check-input me-2" type="checkbox" value="true" id="RememberMe" />
                                <label class="form-check-label" for="RememberMe">Remember Me</label>
                                <input type="hidden" asp-for="RememberMe" value="false" />
                            </div>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                Login
                            </button>
                            <p class="small fw-bold mt-2 pt-1 mb-0 ">Don't have an account? <a asp-action="Registration" asp-controller="Authentication" class="link-danger">Register Here</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
            <!-- Copyright -->
            <div class="text-white mb-3 mb-md-0">
                Copyright © 2020. All rights reserved.
            </div>
            <!-- Copyright -->
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>

@* <script src="~/js/chatbot.js"></script> *@

</html>